<app-toolbar [sidenav]="sidenav"></app-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav opened="true" #sidenav mode="side" fixedInViewport="true">
    <mat-list role="list">
      <mat-list-item role="listitem" class="underscore">
        <div class="parent-menu-wrapper">
          <div class="sidebar-menu">
            <span class="sidebar-menu__title" *ngIf="isExpanded || isShowing"
              >Суперагент</span
            >
            <mat-icon class="menu-button">arrow_drop_down</mat-icon>
          </div>
          <span class="sidebar-menu__subtitle" *ngIf="isExpanded || isShowing"
            >Банк ВТБ(ПАО)</span
          >
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <section>
        <h1>Heading</h1>
      </section>
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary" class="my-custom-button">
        Primary
      </button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
      <article>
        <h2>title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
          Error, eius.
        </p>
      </article>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
