@import "../../../scss/variables.scss";

.page-header {
  h1 {
    color: $textDark;
    font-family: $bodyFont;
    @include font(3rem, 3.6rem, 700);
  }
  padding-bottom: 15px;
}

.btn-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  button {
    margin: 7px 0;
    height: 40px;
    border-radius: 8px;
    @include font(1.4rem, 2.4rem, 300);
  }
  mat-icon {
    width: 24px;
    height: 24px;
    font-size: 22px;
    line-height: 24px;
  }
  .filter {
    color: $textDarkLight;
    background-color: rgba($textDarkLight, 0.3);
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.1) inset;
  }
}

.btn-block__wrapper {
  button:not(:last-child) {
    margin-right: 24px;
  }
}

@media (max-width: 1440px) {
  .btn-block {
    padding-right: 26px;
  }
}
@media (max-width: 1024px) {
  .page-header {
    h1 {
      @include font(2.2rem, 3rem, 700);
    }
  }
  .btn-block {
    margin-bottom: 17px;
  }
}

@media (max-width: 768px) {
  .btn-block {
    flex-direction: column;
    .filter {
      width: 113px;
    }
  }

  .btn-block__wrapper {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .page-header {
    h1 {
      padding: 0 16px;
    }
  }
  .btn-block {
    padding: 0 16px;
    margin-bottom: 23px;
    button {
      width: 136px;
      margin-bottom: 0;
      &:first-child {
        margin-right: 16px !important;
      }
      &:nth-child(2) {
        margin-right: 0 !important;
      }
    }
    mat-icon {
      display: none;
    }
    .filter {
      width: 136px;
    }
  }
  .btn-block__wrapper {
    margin-bottom: 1px;
  }
}
