@import "../../../scss/variables.scss";

.page-header {
  h1 {
    color: $textDark;
    font-family: $bodyFont;
    @include font(3rem, 3.6rem, 700);
  }
  padding-bottom: 24px;
}

.btn-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  button {
    margin: 7px 0;
    @include font(1.4rem, 2.4rem, 300);
  }
  mat-icon {
    width: 24px;
    height: 24px;
    font-size: 22px;
    line-height: 24px;
  }
  .filter {
    color: $textDarkLight;
  }
}

.btn-block__wrapper {
  button:not(:last-child) {
    margin-right: 24px;
  }
}

@media (max-width: 768px) {
  .btn-block {
    flex-direction: column;
    .filter {
      width: 113px;
    }
  }
}

@media (max-width: 600px) {
  .btn-block {
    button {
      width: 136px;
    }
    mat-icon {
      display: none;
    }
    .filter {
      width: 136px;
    }
  }
}
