<div class="card mt-2">
  <div class="card-header">
    {{ pageTitle | titlecase }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Image_not_available.png/800px-Image_not_available.png?20210219185637"
          class="img-fluid"
        />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Viktor Tishchenko</h3>
      </div>
    </div>
  </div>
</div>
