@import "../../../scss/variables.scss";

.mat-drawer.mat-drawer-side {
  position: fixed;
  width: 273px;
  top: 70px !important;
}

.md-line {
  display: block;
}

.md-view {
  display: none;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  margin: 25px 15px 24px 0px;
  align-items: center;
  color: $textWhite;
}

.sidebar-menu__extitle {
  font-family: $bodyFont;
  @include font(2rem, 2.6rem, 700);
  color: $textWhite;
}

.sidebar-menu__title {
  font-family: $bodyFont;
  @include font(1.8rem, 2.4rem, 700);
  color: $textWhite;
}

.sidebar-menu__subtitle {
  font-family: $bodyFont;
  @include font(1.6rem, 2.3rem, 300);
  color: $textWhiteLight;
}

.mat-sidenav .mat-icon {
  color: #fff;
}

.mat-divider {
  border-top-color: $underscore;
}

.extra {
  margin-bottom: 4px;
}

.expanded-menu.active {
  background-color: $activeMemuBg;
}

.menu-button {
  width: 18px;
  height: 18px;
  font-size: large;
  margin: 0 !important;
  transition: 300ms ease-in-out;
}

.menu-button.rotated {
  transition: 300ms ease-in-out;
  transform: rotate(180deg);
}

.submenu {
  padding: 0 0 20px 40px;
}

.special-btn {
  background: transparent !important;
  cursor: unset !important;
}

.submenu.expanded {
  transform: scaleY(1);
}

.submenu-link {
  color: $textWhiteLight !important;
  background: transparent !important;
}

.submenu-link.active {
  color: $textWhite !important;
  color: white;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.revert {
  flex-direction: row-reverse;
  justify-content: center;
}

@media (max-width: 1440px) {
  .mat-drawer.mat-drawer-side {
    width: 263px;
  }
}

@media (max-width: 1024px) {
  .mat-sidenav {
    top: 70px;
    padding: 0 16px;
  }

  .mat-mdc-menu-item {
    padding: 16px 0;
  }

  .md-line {
    display: none;
  }

  .mat-drawer.mat-drawer-side {
    width: 320px;
    top: 55px !important;
    z-index: 2;
  }

  .mat-drawer-content {
    top: 55px !important;
  }

  .md-view {
    display: flex;
  }

  .sidebar-menu {
    flex-direction: unset;
    margin: 0;
  }

  .parent-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar-menu__extitle {
    margin-right: 16px;
  }

  .sidebar-menu.mat-icon {
    width: 18px;
    height: 18px;
  }

  .revert {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
}
