<nav class="navbar navbar-expand flex-wrap navbar-light bg-light">
  <div class="container justify-content-start">
    <a routerLink="/error" class="navbar-brand">{{ pageTitle }}</a>
    <ul class="navbar-nav flex-wrap">
      <li>
        <a routerLink="/welcome" class="nav-link px-2 text-secondary">Home</a>
      </li>
      <li>
        <a routerLink="/products" class="nav-link px-2 text-secondary"
          >Products</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
