@import "../../../scss/variables.scss";

.mat-toolbar {
  position: fixed;
  height: 70px;
  padding: 0;
}

.nav-tool-item {
  display: none;
  color: white;
  transform: scale(1.2);
}

.account {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

@media (max-width: 1440px) {
  .account {
    margin-right: 60px;
  }
}
@media (max-width: 1024px) {
  .mat-toolbar {
    height: 55px;
  }
  .nav-tool-item {
    display: flex;
    align-items: center;
    transform: scale(1.4);
  }
  .account {
    margin-right: 40px;
  }
}
@media (max-width: 1024px) {
  .account {
    margin-right: 37px;
  }
}
