<mat-sidenav-content>
  <main>
    <section>
      <h1>Heading</h1>
    </section>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary" class="my-custom-button">
      Primary
    </button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
  </main>
</mat-sidenav-content>
