<mat-sidenav-content>
  <main>
    <router-outlet></router-outlet>
    <!-- <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article>
    <article>
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
        doloremque. Architecto quae illo rem velit, facilis voluptas dolorum!
        Error, eius.
      </p>
    </article> -->
  </main>
</mat-sidenav-content>
