@import "../../../scss/variables.scss";

.mat-drawer-content {
  top: 70px;
  min-height: 100vh;
}

.mat-sidenav-content {
  margin: 0 !important;
}

.mat-sidenav-content {
  padding: 40px 40px 70px 24px;
  background-color: $mainBg;
}

.mat-drawer.mat-drawer-side {
  position: fixed;
  width: 273px;
  top: 70px !important;
}

@media (max-width: 1024px) {
  .mat-drawer-content {
    top: 55px !important;
  }
}
