@import "../../../scss/variables.scss";

.mat-drawer-content {
  top: 70px;
  min-height: 100vh;
}

.mat-sidenav-content {
  margin: 0 !important;
}

.mat-sidenav-content {
  padding: 34px 40px 70px 24px;
  background-color: $mainBg;
}

.mat-drawer.mat-drawer-side {
  position: fixed;
  width: 273px;
  top: 70px !important;
}

@media (max-width: 1024px) {
  .mat-drawer-content {
    top: 55px !important;
  }

  .mat-sidenav-content {
    padding: 27px 20px 70px 44px;
  }
}

@media (max-width: 768px) {
  .mat-sidenav-content {
    padding: 27px 40px 70px 40px;
  }
}

@media (max-width: 600px) {
  .mat-sidenav-content {
    padding: 32px 0 70px;
  }
}
