<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid fix-position">
    <a class="navbar-brand">{{ pageTitle | titlecase }}</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/welcome"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/products"
          >Product List</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
