@import "../../../scss/variables.scss";

:host {
  padding: 24px 32px;
  background-color: $bgWhite;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.btn-grey {
  color: $formBtnGrey;
}

::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 5px;
  padding-bottom: 5px;
}

::ng-deep .mat-mdc-form-field-infix {
  min-height: 35px;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline {
  border-radius: 8px;
  border: 1px solid $formBorderGrey;
  border-image-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-left-width: 0;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 44px !important;
  flex: auto;
}
