@import "../../../scss/variables.scss";

:host {
  padding: 32px 40px 25px 40px;
  border-radius: 8px;
  color: $textDark;
  background-color: $bgWhite;
  font-family: $bodyFont;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.btn-gray {
  color: $iconBtnGray;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  width: 266px !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 44px !important;
}

::ng-deep .mat-mdc-form-field-flex {
  height: 100% !important;
}

::ng-deep
  .density-3-section
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding: 9px 0;
  min-height: 100%;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.density-3-section {
  display: flex;
  flex-wrap: wrap;
  padding-left: 12px;
}

.filter-title {
  margin-bottom: 3.2rem;
  h2 {
    @include font(2rem, 2.4rem, 700);
  }
}

.form-group {
  display: inline-block;
  color: $textDark;
  font-family: $bodyFont;
  mat-form-field {
    width: 266px;
  }
  mat-label {
    display: block;
    margin-bottom: 10px;
    @include font(1.6rem, 2rem, 700);
  }
  mat-input {
    @include font(1.6rem, 1.8rem, 300);
  }
}

.form-group {
  padding: 0 12px;
  margin-bottom: -2px;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  height: 44px !important;
}

.mat-mdc-text-field-wrapper {
  height: 44px;
}

.btn-block {
  display: flex;
  justify-content: space-between;
  button {
    width: 169px;
    height: 48px;
    margin: 7px 0;
    border-radius: 8px;
    font-family: $bodyFont;
    @include font(1.6rem, 2rem, 700);
  }
}

.btn-block__wrapper {
  padding-left: 24px;
  button:not(:last-child) {
    margin-right: 25px;
  }
  button:first-child {
    color: $textWhite;
  }
  button:not(:first-child) {
    color: rgba($textDarkLight, 0.8);
    background-color: rgba($textDarkLight, 0.1);
  }
}

@media (max-width: 1440px) {
  :host {
    margin-right: 24px;
    padding: 24px 32px 17px 32px;
  }

  ::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    width: 294px !important;
  }
  .form-group {
    mat-form-field {
      width: 294px;
    }
    &:nth-child(4) {
      order: 7;
    }
  }
  .btn-block__wrapper > * {
    margin: 0 25px 5px 0 !important;
  }
}
@media (max-width: 1024px) {
  :host {
    padding: 16px 24px;
  }

  ::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    width: 264px !important;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 36px !important;
  }

  ::ng-deep .mat-mdc-form-field-flex {
    height: 100% !important;
  }

  ::ng-deep
    .density-3-section
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding: 4px 0;
  }

  .form-group {
    mat-form-field {
      width: 264px;
    }
  }

  .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    height: 36px !important;
  }

  .mat-mdc-text-field-wrapper {
    height: 36px;
  }

  .filter-title {
    margin-bottom: 23px;
  }
}

@media (max-width: 768px) {
  :host {
    margin: 0;
    padding: 16px 24px 10px 24px;
  }

  ::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    width: 292px !important;
  }

  .density-3-section {
    padding-left: 4px;
  }

  .form-group {
    mat-form-field {
      width: 292px;
    }
    &:nth-child(2) {
      order: 4;
    }
    &:nth-child(6) {
      order: 6;
    }
  }

  .btn-block {
    button {
      width: 153px;
    }
  }

  .btn-block__wrapper {
    padding-left: 16px;
  }

  .filter-title {
    margin-bottom: 16px;
  }
}
@media (max-width: 600px) {
  :host {
    padding: 10px 16px 9px;
  }

  ::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    width: 288px !important;
  }

  .form-group {
    mat-form-field {
      width: 288px;
    }
  }
  .density-3-section {
    padding-left: 0;
  }
  .form-group {
    padding: 0;
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 3;
    }
    &:nth-child(4) {
      order: 7;
    }
    &:nth-child(5) {
      order: 1;
    }
    &:nth-child(7) {
      order: 5;
    }
  }
  .btn-block {
    justify-content: center;
    button {
      width: 136px;
      &:not(:last-child) {
        margin: 0 0 15px !important;
      }
      &:last-child {
        margin: 0 !important;
      }
    }
    .btn-block__wrapper {
      padding-left: 0;
      display: flex;
      flex-direction: column;
    }
  }
}
