@use "@angular/material" as mat;

@import "../scss/theme.scss";
@import "../scss/variables.scss";

@font-face {
  font-family: $bodyFont;
  src: url("../assets/fonts/Inter-Regular.ttf");
}
// @font-face {
//   font-family: $bodyFont;
//   src: url("../assets/fonts/moscowsansregular.ttf");
// }

.density-3-section {
  @include mat.all-component-densities(-3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: $bodyFont;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: normal;
}

.header {
  justify-content: flex-end;
  top: 0;
  z-index: 1000;
  width: 100;
}

.container {
  max-width: $maxWidth;
  width: 100%;
  margin: auto;
}

// .spacer {
//   flex: 1 1 auto;
// }

// .mat-drawer.mat-drawer-side {
//   background-color: map-get($rm-test-accent, 500);
// }

.mat-drawer-content {
  overflow: unset !important;
}
