$textDark: #282828;
$textDarkLight: #666f78;
$textWhite: #fff;
$textWhiteLight: #e5e5e5;
$textGrayLight: #e8ebed;

$mainBg: #f5f6f7;
$bgDark: #666f78;
$bgWhite: #fff;

$bodyFont: "Inter-Regular", sans-serif;
// $bodyFont: "Moscow-sans", sans-serif;
$maxWidth: 1600px;
$underscore: #c4c4c4;
$maxWidth: 1600px;
$activeMemuBg: #a2a9b1;

@mixin font($size, $height: $size, $weight: bold, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}
