<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container d-flex flex-wrap">
    <a routerLink="/error" class="navbar-brand">{{ pageTitle }}</a>
    <ul class="navbar-nav flex-wrap">
      <li class="nav-item">
        <a class="nav-link" routerLink="/welcome" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/template-driven-forms"
          routerLinkActive="active"
          >TDForms</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/reactive-form-model"
          routerLinkActive="active"
          >RFModel</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
